<h1> Inicio</h1>

<h2> importando pandas </h2>

In [3]:
import pandas as pd

<h2> importando csv </h2>

In [5]:
notas = pd.read_csv("ratings.csv")

<h2> pegando somente os cinco primeiro elementos </h2>

In [6]:
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

<h2> mostrando linhas e colunas </h2>

In [9]:
notas.shape

(100836, 4)

<h2> redefinindo nomes das colunas </h2>

In [15]:
notas.columns = ["usuario_id", "move_ID", "notas", "momento"]
notas.head()

   usuario_id  move_ID  notas    momento
0           1        1    4.0  964982703
1           1        3    4.0  964981247
2           1        6    4.0  964982224
3           1       47    5.0  964983815
4           1       50    5.0  964982931

<h2> olhando todos os valores da colunas notas </h2>

In [16]:
notas['notas']

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: notas, Length: 100836, dtype: float64

<h2> valores unicos da serie de notas </h2>

In [18]:
notas['notas'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

<h2> contando todos os valors que aparecem em notas </h2>

In [19]:
notas['notas'].value_counts()

notas
4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: count, dtype: int64

<h2> media de todas as notas </h2>

In [20]:
notas['notas'].mean()

3.501556983616962